.login {
    height: 100vh;
    user-select: none;
    display:flex;
    justify-content: center;
    align-items: center;

    & h1 {
        margin-bottom: 20px;
    }

    & a {
        text-decoration: none;
        text-align: center;
        line-height: 36px;
        display: inline-block;
        padding: 0 10px;
        height: 36px;
        margin: auto;
        transition: background-color .2s ease-in;
        border: 0;
        border-radius: 2px;
        outline: 0;
        background-color: var(--paletteColor6);
        color: var(--paletteColor2);
        font-size: 20px;
        letter-spacing: 1px;
        cursor: pointer;

        &:hover {
             background-color: var(--paletteColor7);
         }
    }
}
